body{
  padding-left: 200px;
  padding-right: 200px;
  background: #1E2538;
}
header{
  display: flex;
  margin-top: 25px;
  margin-bottom: 53px;
}
.icon{
  width: 130px;
  height: 31px;
  display: flex;
  margin-top: 12px;
}
.icon_img{
width: 24px;
height: 24px;
}
.icon_h1{
  margin-top: -2px;
  margin-left: 6px;
  color: #3657CB;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
}
.icon_span{
  color: #fff;
}
.midle{
  margin-top: 17px;
  margin-left: 110px;
  width: 760px;
  display: flex;
  justify-content: space-between;
}
.place_img{
  width: 339.401px;
  margin-right: 0;
}
.img_post_new{
  width: 339px;
  height: 480px;
  border-radius: 10px;
  border: none;
  z-index: 1;
}
.header_down{
  align-items: center;
  display: flex;
}
.alll{
  color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.active{
  color: #fff !important;
}
.show_all{
  width: 200px;
  height: 71px;
  border-radius: 10px;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  background-color: #1E2538;
}
.vote_average{
  width: 62.275px;
  height: 33.214px;
  border-radius: 5px;
  border: none;
  align-items: center;
  display: flex;
  z-index: 3;
  margin-top: -500px;
  margin-left: 264px;
  margin-bottom: 500px;
  justify-content: center;
}
.vote_average_h1{
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}
.all_h1_now{
  width: 765px;
  padding: none;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.now_h1{
  color: #FFF;
  font-size: 47px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-right: 50px;
}
.line_now{
  width: 51.5px;
  height: 2px;
  background-color: #fff;
  margin-top: 12px;
  margin-right: 50px;
}
.h1_post_new{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header_h1{
  color: #FFF;
  font-size: 17px;
  font-weight: 700;
}
.right{
  display: flex;
  margin-left: 137px;
}
.search{
  width: 55px;
  height: 52px;
  border-radius: 5px;
  border: none;
  padding: none;
  margin-right: 12px;
}
.search_img{
  width: 100%;
}
.sign_in{
  width: 138px;
  height: 53px;
  border-radius: 10px;
  background: #3657CB;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.80);
}
.header_trailer{
  padding: 0;
  display: flex;
  margin-top: 24px;
  align-items: center;
}
.trailers_h1{
  margin-right: 634px;
  color: #FFF;
  font-size: 47px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.tr_a{
  width: 180px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  line-height: normal;
  margin-top: 15px
}
.arrow{
  margin-top: 2px;
  width: 26px;
}